img {
  height: 100vh;
  width: auto;
}

.rotate {
  display: none;
}

.snap {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: relative;
  scroll-snap-type: y mandatory;
}

.page {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.sticker {
  width: 100vw;
  position: sticky;
  top: 0;
  margin: 0;
}

.under {
  z-index: -100;
}

.over {
  z-index: 100;
}

/* media queries */
@media only screen and (orientation: portrait) {
  .snap {
    display: none;
  }
  .rotate {
    display: block;
  }
}
