h2 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.75rem;
  /* line-height: 1.2; */
  letter-spacing: -0.00833em;
  text-align: center;

  margin: 0 20px;
}

.startQuizWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.tag-container {
  display: none;
}

.quiz-synopsis {
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
}

img {
  height: 100vh;
  width: auto;
}

.rotate {
  display: none;
}

.carousel {
  width: 100vw;
  height: 100vh;
}

.snap {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  scroll-snap-type: y mandatory;
}

.page {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.quiz-page {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  overflow-y: scroll;
}

.sticker {
  width: 100vw;
  position: sticky;
  top: 0;
  margin: 0;
}

.dark-screen {
  background-color: #0c0e11;
}

.under-1 {
  z-index: -100;
}

.under-2 {
  z-index: -200;
}

.under-3 {
  z-index: -300;
}

.over-1 {
  z-index: 10;
}

.absolute {
  position: absolute;
}

.gray-box {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0 20px;
}

.white {
  color: white;
}

/* fade in animation */
.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* media queries */
@media only screen and (orientation: portrait) {
  .snap {
    display: none;
  }
  .rotate {
    display: block;
  }
}
