img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

h2 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.75rem;
  letter-spacing: -0.00833em;
  text-align: center;
  margin: 0 20px;
}

@media (max-device-width: 899px) {
  h2 {
    font-size: 1.3rem;
  }
}

.frame {
  height: 100vh;
  width: 100vw;
  object-fit: contain;
}

.startQuizWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.tag-container {
  display: none;
}

.quiz-synopsis {
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
}

.rotate {
  display: none;
}

.carousel {
  width: 100vw;
  height: 100vh;
}

.snap {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  scroll-snap-type: y mandatory;
}

.page {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.quiz-page {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  overflow-y: scroll;
}

.sticker {
  width: 100vw;
  position: sticky;
  top: 0;
  margin: 0;
}

.dark-screen {
  background-color: #0c0e11;
}

.under-1 {
  z-index: -100;
}

.under-2 {
  z-index: -200;
}

.under-3 {
  z-index: -300;
}

.over-1 {
  z-index: 10;
}

.absolute {
  position: absolute;
}

.gray-box {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0 10px;
}

.white {
  color: white;
}

/* media queries */
@media only screen and (orientation: portrait) {
  .snap {
    display: none;
  }
  .rotate {
    display: block;
  }
}
